{{template "header.html"}}

<body>
    <section class="hero is-flex">
        <div class="hero-body has-text-centered" style=" justify-content: center;">
            <div class="login" style="border-radius: 25px;  
            padding: 1.5rem;
            box-shadow: 8px 8px 15px var(--shadowDark), -8px -8px 15px var(--shadowLight);">

                <div class="notification">
                    <span>Error 404: </span>Página não encontrada
                </div>
                <a href="/">
                    <img src="../assets/gopngg.png" alt="Logo">
                </a>

            </div>

        </div>
    </section>
</body>
<style>
    .notification {
        background-color: #209cee;
        color: #fff;
        font-weight: bold;
        font-size: 1.5rem;
        padding: 1rem;
        margin-bottom: 2rem;
    }

    .login {
        width: 400px;
        background-color: #fff;
        border-radius: 25px;
        padding: 1.5rem;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }
</style>




{{template "footer.html"}}