{{define "footer.html"}}
<footer class="footer">
    <div class=" columns is-mobile is-centered">
        <div class="content has-text-centered field is-grouped is-grouped-multiline">
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-light" href="https://www.linkedin.com/in/ianvgs/" target="_blank">
                        <a href="https://www.linkedin.com/in/ianvgs/" target="_blank"> Ian Vieira -
                            Since 1992 ®</a>
                    </span>
                </div>
            </div>
            <div class="control">
                <div class="tags has-addons">
                    <a class="tag is-link" href="https://github.com/ianvgs/Go-Api-Gin-Gorm" target="_blank">The source
                        code is licensed</a>
                    <span class="tag is-light">MIT &nbsp;<i class="fa fa-github"></i></span>
                </div>
            </div>
        </div>
    </div>
</footer>

</section>
<script async type="text/javascript" src="../assets/js/bulma.js"></script>
</body>

</html>
{{end}}