{{template "header.html" .}}
<div class="columns" style="margin-left: 1rem; margin-top: 1rem;">
    <aside class="column is-2 aside hero">
        <aside class="menu">
            <p class="menu-label;">
            <h1 style="font-size: x-large;">Categorias</h1>
            </p>
            <ul class="menu-list">
                {{range $index, $element := .categorias}}
                <li>
                    <a style="padding:0%; margin-top:5px ;">
                        <span style="display: block; text-align: center; " class="{{index $.colors $index}}">
                            {{ToUpper $element.Nome}}
                        </span>
                    </a>
                </li>
                {{end}}


                <li><a style="padding:0%; margin-top:5px ;"><span style="display: block;text-align: center;"
                            class="tag is-dark is-medium ">PAYMENTS</span></a></li>
                <li><a style="padding:0%; margin-top:5px ;"><span style="display: block;text-align: center; "
                            class="tag is-success is-medium ">TRANSFERS</span>
                    </a></li>
            </ul>
        </aside>

        <div>
            <a href="#" class="item active block"><span class="icon"><i class="fa fa-inbox block"></i></span><span
                    class="name">Inbox</span></a>
            <a href="#" class="item"><span class="icon"><i class="fa fa-star"></i></span><span
                    class="name">Starred</span></a>
            <a href="#" class="item"><span class="icon"><i class="fa fa-envelope-o"></i></span><span class="name">Sent
                    Mail</span></a>
        </div>

    </aside>
    <div class="column is-8 messages hero ">
        <div class=" box content">
            {{range $index, $element := .posts}}

            <article class="post">
                <article class="post">
                    <!--    {{$element}} -->
                    <!-- tem que acessar o atributo como na model "Nome","Titulo" -->
                    <h4>{{$element.Titulo}}</h4>
                    <div class="media">
                        <div class="media-left">
                            <p class="image is-32x32">
                                <img src="http://bulma.io/images/placeholders/128x128.png">
                            </p>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <!-- tem que acessar o atributo como na model "Nome","Titulo" -->
                                    <a href="#">@{{$element.Colaborador.Nome}}</a> replied 34 minutes ago &nbsp;
                                    <span class="tag">Question</span>
                                </p>
                            </div>
                        </div>
                        <div class="media-right">
                            <span class="has-text-grey-light"><i class="fa fa-comments"></i> 1</span>
                        </div>


                    </div>


                    {{if lt $index (Subt (len $.posts) 1) }}
                    <hr class="is-divider">
                    {{end}}
                </article>
                {{end}}
        </div>
    </div>
    <div class="column is-2 message hero  ">
    </div>
</div>





{{template "footer.html"}}