{{template "header.html"}}
<div class="columns" style="height: 80vh; margin-bottom: 0; margin-left: 1rem;">
    <aside class="column is-2 aside hero">
        <aside class="menu">
            <p class="menu-label;">
            <h1 style="font-size: x-large;">Categorias</h1>
            </p>
            <ul class="menu-list" style="justify-content: space-between;">
                {{range $index, $element := .categorias}}
                <li>
                    <span style="display: block; text-align: center; margin-bottom: 10px;"
                        class="{{index $.colors $index}}">{{ToUpper
                        $element.Nome}}</span>
                </li>
                {{end}}
                <li><span style=" display: block;text-align: center; margin-bottom: 10px;"
                        class="tag is-link is-medium ">CUSTOMERS</span>
                </li>
                <li><span style="display: block;text-align: center; margin-bottom: 10px;"
                        class="tag is-light is-danger is-medium ; margin-bottom: 10px;">AUTHENTICATION</span></li>
                <li><span style="display: block;text-align: center; margin-bottom: 10px;"
                        class="tag is-dark is-medium ">PAYMENTS</span></li>
                <li><span style="display: block;text-align: center; margin-bottom: 10px;"
                        class="tag is-success is-medium ">TRANSFERS</span>
                </li>
            </ul>
        </aside>

        <div class="main, align-self: end">
            <a href="#" class="item active block"><span class="icon"><i class="fa fa-inbox block"></i></span><span
                    class="name">Inbox</span></a>
            <a href="#" class="item"><span class="icon"><i class="fa fa-star"></i></span><span
                    class="name">Starred</span></a>
            <a href="#" class="item"><span class="icon"><i class="fa fa-envelope-o"></i></span><span class="name">Sent
                    Mail</span></a>
            <a href="#" class="item"><span class="icon"><i class="fa fa-folder-o"></i></span><span
                    class="name">Folders</span></a>
            <div class="compose has-text-centered">
                <a class="button is-danger is-block is-bold">
                    <span class="compose">Compose</span>
                </a>
            </div>
        </div>

    </aside>
    <div class="column is-8 messages hero ">
        <div class=" box content">
            {{range $index, $element := .posts}}
            <article class="post">
                <article class="post">
                    <!--    {{$element}} -->
                    <!-- tem que acessar o atributo como na model "Nome","Titulo" -->
                    <h4>{{$element.Titulo}}</h4>
                    <div class="media">
                        <div class="media-left">
                            <p class="image is-32x32">
                                <img src="http://bulma.io/images/placeholders/128x128.png">
                            </p>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <!-- tem que acessar o atributo como na model "Nome","Titulo" -->
                                    <a href="#">@{{$element.Colaborador.Nome}}</a> replied 34 minutes ago &nbsp;
                                    <span class="tag">Question</span>
                                </p>
                            </div>
                        </div>
                        <div class="media-right">
                            <span class="has-text-grey-light"><i class="fa fa-comments"></i> 1</span>
                        </div>
                    </div>
                </article>
                {{end}}
        </div>
    </div>
    <div class="column is-2 message hero  ">
    </div>
</div>





{{template "footer.html"}}