{{template "header.html" .}}

<body>
    <section class="hero is-flex">
        <div class="hero-body has-text-centered" style=" justify-content: center;">
            <div class="login" style="border-radius: 25px;
            padding: 1.5rem;
            box-shadow: 8px 8px 15px var(--shadowDark), -8px -8px 15px var(--shadowLight);">
                {{ if .content}}
                <div class="notification is-info is-light">
                    {{.content}}
                </div>
                {{end}}

                <a href="/">
                    <img src="/assets/gopngg.png">
                </a>
                <form action="/login" method="post">

                    <div class="field">
                        <div class="control">
                            <input class="input is-medium is-rounded" name="username" type="email"
                                placeholder="Digite seu e-mail..." autocomplete="username" required />
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <input class="input is-medium is-rounded" type="password" name="password"
                                placeholder="Senha..." autocomplete="current-password" required />
                        </div>
                    </div>



                    <br />
                    <button class="button is-block is-fullwidth is-primary is-medium is-rounded" type="submit">
                        Login
                    </button>
                </form>
                <br>
                <nav class="level">
                    <div class="level-item has-text-centered">
                        <div>
                            Forgot Password?
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </section>
</body>
<style>
    .login {
        width: 400px;
        background-color: #fff;
        border-radius: 25px;
        padding: 1.5rem;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }

    .login img {
        max-width: 200px;
    }

    .field {
        margin-bottom: 1.5rem;
    }
</style>

{{template "footer.html"}}