{{define "navbar.html"}}

<div class="hero-head">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand" style="display: flex;
            justify-content: center;
            align-items: center;">
                <a class="navbar-item" href="../">
                    <img src="/assets/gopngg.png">
                </a>
                <a class="button button-login is-info is-outlined" href="/">
                    <span class="icon">
                        <i class="fa fa-home"></i>
                    </span>
                    <span>Home</span>
                </a>
                <a class="button button-login is-info is-outlined" href="/about">
                    <span class="icon">
                        <i class="fa fa-book"></i>
                    </span>
                    <span>About me</span>
                </a>
                <div class="navbar-burger burger" data-target="navbarMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

            </div>
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                    {{if not .user}}
                    <span class="navbar-item">
                        <a class="button" href="/register">
                            <span class="icon">
                                <i class="fa fa-user-plus"></i>
                            </span>
                            <span>
                                Criar conta
                            </span>
                        </a>
                    </span>

                    <span class="navbar-item">
                        <a class="button button-login is-info is-outlined" href="/login">
                            <span class="icon">
                                <i class="fa fa-user"></i>
                            </span>
                            <span>Login</span>
                        </a>
                    </span>
                    {{end }}
                    {{if .user}}
                    <p class="control">
                        <a class="button is-info is-outlined" href="/logout">
                            <span class="icon">
                                <i class="fa fa-user"></i>
                            </span>
                            <span>Logout</span>
                        </a>
                    </p>
                    {{end }}
                </div>
            </div>
        </div>
    </nav>
</div>
{{end}}