{{define "navbar.html"}}

<nav class="navbar">

    <div class="navbar-brand">
        <a class="navbar-item" href="../">
            <img src="/assets/gopngg.png">
        </a>
        <div class="navbar-burger burger" data-target="topNav">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div id="topNav" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="about">About me</a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field is-grouped">

                    {{if .user}}
                    <p class="control">
                        <a class="button is-info is-outlined" href="/logout">
                            <span class="icon">
                                <i class="fa fa-user"></i>
                            </span>
                            <span>Logout</span>
                        </a>
                    </p>
                    {{end }}

                    {{if not .user}}

                    <a class="button" href="/register">
                        <span class="icon">
                            <i class="fa fa-user-plus"></i>
                        </span>
                        <span>
                            Criar conta
                        </span>
                    </a>


                    <a class="button button-login is-info is-outlined" href="/login">
                        <span class="icon">
                            <i class="fa fa-user"></i>
                        </span>
                        <span>Login</span>
                    </a>

                    {{end }}
                </div>
            </div>
        </div>
    </div>
</nav>


{{end}}