{{template "header.html" .}}

<body>
    <section class="hero is-flex">
        <div class="hero-body has-text-centered" style=" justify-content: center;">
            <div class="login" style="border-radius: 25px;
            padding: 1.5rem;
            box-shadow: 8px 8px 15px var(--shadowDark), -8px -8px 15px var(--shadowLight);">
                <a href="/">
                    <img src="/assets/gopngg.png">
                </a>
                <form action="/user" method="post">

                    <div class="field">
                        <div class="control">
                            <input class="input is-medium is-rounded" name="username" type="email"
                                placeholder="email@example.com" autocomplete="username" required />
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <input class="input is-medium is-rounded" type="password" name="password"
                                placeholder="**********" autocomplete="password" required />
                        </div>
                    </div>
                    <br />
                    <button class="button is-block is-fullwidth is-primary is-medium is-rounded" type="submit">
                        Registrar
                    </button>
                </form>
               
                
            </div>
        </div>
    </section>
</body>





{{template "footer.html"}}